* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-around;
  @media (min-width: 40rem) {
    display: none;
  }
}

.site-menu {
  height: 4rem;
  display: flex;
  align-items: center;
  vertical-align: center;
  padding-right: 1.5rem;
  @media (max-width: 40rem) {
    display: none;
  }
}

.site-menu__logo {
  margin-left: 1.5rem;
  height: 4rem;
  @media (max-width: 40rem) {
    display: none;
  }
}

.company__name {
  font-size: 1.5rem;
}

span {
  color: grey;
  font-weight: lighter;
}

.site-menu__login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.site-menu__logins {
  margin: 1rem;
}
main {
  .learn {
    margin: 0;
    background: lightgrey;
    padding-bottom: 2rem;

    .learn__banner__mobile-img {
      width: 100%;
      @media (min-width: 40rem) {
        display: none;
      }
    }
  }

  .learn__title {
    font-size: 3.5rem;
    text-align: left;
    padding: 2rem 0 2rem 1rem;
    line-height: 5rem;
    margin: 0;
  }
  .learn__description {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: left;
    padding: 0 0 1.5rem 1rem;
    margin: 0 0 1.5rem 0;
    line-height: 3.5rem;
  }
  .start-here {
    background: grey;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
  }

  .section-img {
    width: 100%;
    padding: 1rem;
  }
  .section__title {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
    // padding-bottom: 2rem;
  }
  .section__information {
    font-size: 1.5rem;
    margin: 0 2rem;
    line-height: 2.5rem;
  }

  .read-more {
    font-size: 1.5rem;
    font-weight: normal;
    color: blueviolet;
    margin-left: 2rem;
    margin-bottom: 3rem;
  }
  .start__learning__title,
  .exhibits__title {
    font-size: 3.5rem;
    text-align: center;
  }
  .start__learning,
  .exhibits {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .learn__subjects {
    background: lightgrey;
    font-size: 2rem;
    font-weight: normal;
    margin: 0.5rem 1rem;
    padding: 2rem;
  }
}

footer {
  p {
    margin: 2.5rem 1rem 1rem 1rem;
    font-size: 1rem;
  }
}
