:root {
  --container-background: #ccc;
}
@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mobile-menu {
  @include display-flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-around;
  @media (min-width: 60rem) {
    display: none;
  }
}

//  desktop site menu

.site-menu {
  @include display-flex;
  height: 4rem;
  align-items: center;
  vertical-align: center;
  padding-right: 1.5rem;
  @media (max-width: 60rem) {
    display: none;
  }

  .site-menu__logo {
    margin-left: 1.5rem;
    height: 4rem;
    @media (max-width: 60rem) {
      display: none;
    }
  }

  .company__name {
    font-size: 1.5rem;
  }

  span {
    color: grey;
    font-weight: lighter;
  }

  .site-menu__login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }

  .site-menu__logins {
    margin: 1rem;
  }
}

// mobile learn section

.learn {
  margin: 0;
  background: var(--container-background);
  padding-bottom: 2rem;
  @media (min-width: 60rem) {
    @include display-flex;
    flex-direction: row;
    padding: 2rem 0 2rem 1.5rem;
    margin-bottom: 2rem;
  }

  .learn__detail {
    @include display-flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
  }

  .learn__banner-img {
    width: 100%;
    @media (min-width: 60rem) {
      width: 60%;
      padding: 2rem 0 0 1.5rem;
    }
  }

  .learn__title {
    font-size: 3.5rem;
    text-align: left;
    padding: 2rem 0 2rem 1rem;
    line-height: 5rem;
    margin: 0;
  }
  .learn__description {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: left;
    padding: 0 0 1.5rem 1rem;
    margin: 0 0 1.5rem 0;
    line-height: 3.5rem;
  }

  .start-here {
    background: grey;
    margin: 1rem;
    padding: 1rem 1rem;
    text-align: center;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
  }
}

// Campus Detail

.campus__detail {
  @media (min-width: 60rem) {
    @include display-flex;
    flex-direction: row;
  }

  .campus__detail__orientation {
    width: 100%;
    @media (max-width: 60rem) {
      display: none;
    }
  }

  .orientation__information__container {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: column;
    }
  }

  .campus__orientation__information {
    @include display-flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }

  .information__main__desktop-img {
    width: 95%;
    margin-left: 2rem;
    padding-left: 1rem;
  }

  .campus__detail-img {
    width: 100%;
    padding: 1rem;
    @media (min-width: 60rem) {
      display: none;
    }
  }

  .campus__detail__desktop-img {
    padding: 0 0 1.5rem 0;
    margin-left: 1.5rem;
    width: 48%;
    @media (max-width: 60rem) {
      display: none;
    }
  }

  .campus__lecture__desktop-img {
    padding: 0 0 1rem 0;
    margin-left: 1rem;
    width: 48%;

    @media (max-width: 60rem) {
      display: none;
    }
  }

  .campus__detail__heading {
    font-size: 3rem;
    margin-left: 1rem;
    padding-left: 2rem;
    width: 80%;
  }

  .campus__detail__description {
    font-size: 2rem;
    font-weight: normal;
    margin-left: 1rem;
    padding-left: 2rem;
    width: 95%;
  }

  .campus__detail__footer {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 1rem;
    padding-left: 2rem;
    width: 80%;
  }

  .orientation__detail__container {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .campus__detail__campus {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: row;
    }
  }

  .campus__detail__container {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .campus__detail__guest-lecture {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: row;
      background: var(--container-background);
      padding-top: 1rem;
      margin-top: 1rem;
      margin-left: 0;
      margin-bottom: 8rem;
    }
  }

  .guest__detail__container {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .campus__detail__orientation__desktop-img {
    @media (max-width: 60rem) {
      display: none;
    }
  }

  .campus__detail__title {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  .campus__detail__information {
    font-size: 1.5rem;
    margin: 0 2rem;
    line-height: 2.5rem;
    @media (min-width: 60rem) {
      font-weight: lighter;
    }
  }

  .campus__detail__read-more {
    font-size: 1.5rem;
    font-weight: normal;
    color: blueviolet;
    margin-left: 2rem;
    margin-bottom: 3rem;
    @media (min-width: 60rem) {
    }
  }
}

// mobile start learning section

.start__learning {
  @media (min-width: 60rem) {
    display: none;
  }

  .start__learning__title {
    font-size: 3.5rem;
    text-align: center;
  }
  .start__learning {
    @include display-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

  .learn__subjects {
    background: var(--container-background);
    font-size: 2rem;
    font-weight: normal;
    margin: 0.5rem 1rem;
    padding: 2rem;
  }
}

// start learning section desktop

.start__learning__desktop {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  background: lightgrey;
  padding: 2rem 4.5rem;
  grid-gap: 2rem;
  grid-template-areas:
    'learning learning learning'
    'software computer design'
    'data business marketing';
  @media (max-width: 60rem) {
    display: none;
  }
  .start__learning__title__desktop {
    // grid-column-start: 2;
    // grid-row-start: 1;
    grid-area: learning;
    justify-self: center;
    align-self: center;
  }

  .start__learning__desktop__heading {
    font-size: 4rem;
    text-align: center;
  }

  .course-software {
    font-size: 2rem;
    padding: 1rem 0.5rem 0.5rem;
    font-weight: normal;
  }

  .course-software__course {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem;
    font-weight: lighter;
  }

  .course-software__course__detail {
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem;
    font-weight: lighter;
    width: 85%;
  }
  .learning__software-engineering {
    grid-area: software;
    background: #fff;
    overflow: hidden;
  }
  .learning__computer-art {
    grid-area: computer;
    background: #fff;
    overflow: hidden;
  }
  .learning__design {
    grid-area: design;
    background: #fff;
    overflow: hidden;
  }
  .learning__data {
    grid-area: data;
    background: #fff;
    overflow: hidden;
    padding-bottom: 2rem;
  }
  .learning__business {
    grid-area: business;
    background: #fff;
    overflow: hidden;
    padding-bottom: 2rem;
  }
  .learning__marketing {
    grid-area: marketing;
    background: #fff;
    overflow: hidden;
    padding-bottom: 2rem;
  }
}

.exhibits {
  .exhibits__title {
    font-size: 3.5rem;
    text-align: center;
  }
  .exhibits__container {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: row;
    }
  }

  .exhibits__video {
    width: 100%;
    @media (min-width: 60rem) {
      width: 60%;
    }
  }
  .exhibits__container__information {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: column;
    }
    @media (max-width: 60rem) {
      display: none;
    }
  }

  .exhibits__fisma__container {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: row;
      background: var(--container-background);
      margin-left: 1.5rem;
    }
  }

  .exhibits__now__container {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: row;
      margin-left: 1.5rem;
    }
  }

  .thesis-img {
    @media (min-width: 60rem) {
      padding: 1rem;
    }
  }

  .exhibits__thesis__detail {
    @media (min-width: 60rem) {
      @include display-flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .exhibits__thesis__title {
    @media (min-width: 60rem) {
      font-size: 2rem;
      font-weight: lighter;
      margin-bottom: 0.5rem;
    }
  }
  .exhibits__thesis__description {
    @media (min-width: 60rem) {
      margin-top: 1rem;
      font-size: 1.5rem;
      font-weight: lighter;
      line-height: 2.5rem;
    }
  }
}
.exhibits__urban__container {
  padding-left: 2rem;
  width: 60%;
  @media (max-width: 60rem) {
    display: none;
  }
  .exhibits__urban__title {
    font-size: 2.5rem;
    font-weight: lighter;
  }
  .exhibits__urban__detail {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2.5rem;
  }
}

footer {
  p {
    margin: 2.5rem 1rem 1rem 1rem;
    font-size: 1rem;
  }
}
