:root {
  --container-background: #ccc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-around;
}
@media (min-width: 60rem) {
  .mobile-menu {
    display: none;
  }
}

.site-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 4rem;
  align-items: center;
  vertical-align: center;
  padding-right: 1.5rem;
}
@media (max-width: 60rem) {
  .site-menu {
    display: none;
  }
}
.site-menu .site-menu__logo {
  margin-left: 1.5rem;
  height: 4rem;
}
@media (max-width: 60rem) {
  .site-menu .site-menu__logo {
    display: none;
  }
}
.site-menu .company__name {
  font-size: 1.5rem;
}
.site-menu span {
  color: grey;
  font-weight: lighter;
}
.site-menu .site-menu__login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.site-menu .site-menu__logins {
  margin: 1rem;
}

.learn {
  margin: 0;
  background: var(--container-background);
  padding-bottom: 2rem;
}
@media (min-width: 60rem) {
  .learn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    padding: 2rem 0 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
.learn .learn__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}
.learn .learn__banner-img {
  width: 100%;
}
@media (min-width: 60rem) {
  .learn .learn__banner-img {
    width: 60%;
    padding: 2rem 0 0 1.5rem;
  }
}
.learn .learn__title {
  font-size: 3.5rem;
  text-align: left;
  padding: 2rem 0 2rem 1rem;
  line-height: 5rem;
  margin: 0;
}
.learn .learn__description {
  font-size: 2.5rem;
  font-weight: normal;
  text-align: left;
  padding: 0 0 1.5rem 1rem;
  margin: 0 0 1.5rem 0;
  line-height: 3.5rem;
}
.learn .start-here {
  background: grey;
  margin: 1rem;
  padding: 1rem 1rem;
  text-align: center;
  color: #fff;
  font-weight: normal;
  font-size: 2rem;
}

@media (min-width: 60rem) {
  .campus__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
  }
}
.campus__detail .campus__detail__orientation {
  width: 100%;
}
@media (max-width: 60rem) {
  .campus__detail .campus__detail__orientation {
    display: none;
  }
}
@media (min-width: 60rem) {
  .campus__detail .orientation__information__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }
}
.campus__detail .campus__orientation__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.campus__detail .information__main__desktop-img {
  width: 95%;
  margin-left: 2rem;
  padding-left: 1rem;
}
.campus__detail .campus__detail-img {
  width: 100%;
  padding: 1rem;
}
@media (min-width: 60rem) {
  .campus__detail .campus__detail-img {
    display: none;
  }
}
.campus__detail .campus__detail__desktop-img {
  padding: 0 0 1.5rem 0;
  margin-left: 1.5rem;
  width: 48%;
}
@media (max-width: 60rem) {
  .campus__detail .campus__detail__desktop-img {
    display: none;
  }
}
.campus__detail .campus__lecture__desktop-img {
  padding: 0 0 1rem 0;
  margin-left: 1rem;
  width: 48%;
}
@media (max-width: 60rem) {
  .campus__detail .campus__lecture__desktop-img {
    display: none;
  }
}
.campus__detail .campus__detail__heading {
  font-size: 3rem;
  margin-left: 1rem;
  padding-left: 2rem;
  width: 80%;
}
.campus__detail .campus__detail__description {
  font-size: 2rem;
  font-weight: normal;
  margin-left: 1rem;
  padding-left: 2rem;
  width: 95%;
}
.campus__detail .campus__detail__footer {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 1rem;
  padding-left: 2rem;
  width: 80%;
}
@media (min-width: 60rem) {
  .campus__detail .orientation__detail__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 60rem) {
  .campus__detail .campus__detail__campus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 60rem) {
  .campus__detail .campus__detail__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 60rem) {
  .campus__detail .campus__detail__guest-lecture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background: var(--container-background);
    padding-top: 1rem;
    margin-top: 1rem;
    margin-left: 0;
    margin-bottom: 8rem;
  }
}
@media (min-width: 60rem) {
  .campus__detail .guest__detail__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 60rem) {
  .campus__detail .campus__detail__orientation__desktop-img {
    display: none;
  }
}
.campus__detail .campus__detail__title {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 1rem;
}
.campus__detail .campus__detail__information {
  font-size: 1.5rem;
  margin: 0 2rem;
  line-height: 2.5rem;
}
@media (min-width: 60rem) {
  .campus__detail .campus__detail__information {
    font-weight: lighter;
  }
}
.campus__detail .campus__detail__read-more {
  font-size: 1.5rem;
  font-weight: normal;
  color: blueviolet;
  margin-left: 2rem;
  margin-bottom: 3rem;
}
@media (min-width: 60rem) {
  .start__learning {
    display: none;
  }
}
.start__learning .start__learning__title {
  font-size: 3.5rem;
  text-align: center;
}
.start__learning .start__learning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.start__learning .learn__subjects {
  background: var(--container-background);
  font-size: 2rem;
  font-weight: normal;
  margin: 0.5rem 1rem;
  padding: 2rem;
}

.start__learning__desktop {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  background: lightgrey;
  padding: 2rem 4.5rem;
  grid-gap: 2rem;
  grid-template-areas: "learning learning learning" "software computer design" "data business marketing";
}
@media (max-width: 60rem) {
  .start__learning__desktop {
    display: none;
  }
}
.start__learning__desktop .start__learning__title__desktop {
  grid-area: learning;
  justify-self: center;
  align-self: center;
}
.start__learning__desktop .start__learning__desktop__heading {
  font-size: 4rem;
  text-align: center;
}
.start__learning__desktop .course-software {
  font-size: 2rem;
  padding: 1rem 0.5rem 0.5rem;
  font-weight: normal;
}
.start__learning__desktop .course-software__course {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem;
  font-weight: lighter;
}
.start__learning__desktop .course-software__course__detail {
  font-size: 1.5rem;
  padding: 0.5rem 0.5rem 0.5rem;
  font-weight: lighter;
  width: 85%;
}
.start__learning__desktop .learning__software-engineering {
  grid-area: software;
  background: #fff;
  overflow: hidden;
}
.start__learning__desktop .learning__computer-art {
  grid-area: computer;
  background: #fff;
  overflow: hidden;
}
.start__learning__desktop .learning__design {
  grid-area: design;
  background: #fff;
  overflow: hidden;
}
.start__learning__desktop .learning__data {
  grid-area: data;
  background: #fff;
  overflow: hidden;
  padding-bottom: 2rem;
}
.start__learning__desktop .learning__business {
  grid-area: business;
  background: #fff;
  overflow: hidden;
  padding-bottom: 2rem;
}
.start__learning__desktop .learning__marketing {
  grid-area: marketing;
  background: #fff;
  overflow: hidden;
  padding-bottom: 2rem;
}

.exhibits .exhibits__title {
  font-size: 3.5rem;
  text-align: center;
}
@media (min-width: 60rem) {
  .exhibits .exhibits__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
  }
}
.exhibits .exhibits__video {
  width: 100%;
}
@media (min-width: 60rem) {
  .exhibits .exhibits__video {
    width: 60%;
  }
}
@media (min-width: 60rem) {
  .exhibits .exhibits__container__information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 60rem) {
  .exhibits .exhibits__container__information {
    display: none;
  }
}
@media (min-width: 60rem) {
  .exhibits .exhibits__fisma__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    background: var(--container-background);
    margin-left: 1.5rem;
  }
}
@media (min-width: 60rem) {
  .exhibits .exhibits__now__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
  }
}
@media (min-width: 60rem) {
  .exhibits .thesis-img {
    padding: 1rem;
  }
}
@media (min-width: 60rem) {
  .exhibits .exhibits__thesis__detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 60rem) {
  .exhibits .exhibits__thesis__title {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 60rem) {
  .exhibits .exhibits__thesis__description {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2.5rem;
  }
}

.exhibits__urban__container {
  padding-left: 2rem;
  width: 60%;
}
@media (max-width: 60rem) {
  .exhibits__urban__container {
    display: none;
  }
}
.exhibits__urban__container .exhibits__urban__title {
  font-size: 2.5rem;
  font-weight: lighter;
}
.exhibits__urban__container .exhibits__urban__detail {
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 2.5rem;
}

footer p {
  margin: 2.5rem 1rem 1rem 1rem;
  font-size: 1rem;
}

/*# sourceMappingURL=main.css.map */
