* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mobile-menu {
  display: flex;
  flex-direction: row;
  height: 4rem;
  justify-content: space-around;
}

main {
  .learn__banner-img {
    width: 100%;
  }
  .learn {
    margin: 0;
    background: lightgrey;
    padding-bottom: 2rem;
  }
  .learn__title {
    font-size: 3.5rem;
    text-align: left;
    padding: 2rem 0 2rem 1rem;
    line-height: 5rem;
    margin: 0;
  }
  .learn__description {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: left;
    padding: 0 0 1.5rem 1rem;
    margin: 0 0 1.5rem 0;
    line-height: 3.5rem;
  }
  .learn__button {
    width: 90%;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background: darkgrey;
    border: none;
    margin: 0 1rem 2rem 1rem;
    padding: 1rem 1rem;
  }

  .orientation-img {
    width: 100%;
    padding: 2rem 2rem 0;
  }
  .orientation__title {
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.1rem;
  }
  .orientation__dates {
    font-size: 1.5rem;
    margin: 1rem 2rem;
  }
}
